header {
    display: flex;
    background-color: #efbf04;
    height: 90vh;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
}
.header-img-cont{
    width: 60%;
    background-image: url(./assets/crossimg.png);
}
#header-heading{
    font-size: 3rem;
    margin: 0;
}

/* Vision Statement Section */
.vision-statement{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.vs-text{
    max-width: 40%;
    padding: 10px;
    margin: 10px;
}

.attribution-rev{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* Attribution text */
.attribution-line-top{
    display: flex;
    width: 300px;
    height: 4px;
    border: hidden;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}
.attribution-clip{
    font-size: 20vw;
}
.main-attribution-cont{
    display: flex;
    max-width: 90vw;
    width: 1000px;
    box-sizing: border-box;
    align-items:first baseline;
}
.main-attribution-cont-rev{
    display: flex;
    flex-direction: row-reverse;
    max-width: 90vw;
    width: 1000px;
    box-sizing: border-box;
    align-items:first baseline;
}
.attribution-text{
    font-size: 12vw;
    font-weight: 500;
    margin: 0;
}
/* Programs Section */
.section-heading{
    font-size: 5rem;
}
.programs{
    background-color: #e2b70da6;
}

.programs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.turnable-box {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

.program-img {
    display: flex;
    flex-direction: column-reverse;
    height: 400px;
    background-color: rgb(60, 60, 75);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid white 2px;
}
.program-item-cont{
    box-sizing: border-box;
}
/* .program-img:hover{
    animation: widen 0.2s ease-in forwards;
} */


/* Prayer Section */
.prayer {
    background-image: linear-gradient(to right, #0f202781, #203a439a), url(./assets/prayer.jpg);
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.prayer h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.prayer p {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 2rem;
    line-height: 1.6;
}

.prayer-btn {
    display: inline-block;
    background-color: #f1c40f;
    color: #000;
    padding: 0.9rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.prayer-btn:hover {
    background-color: #ffda4d;
}


/* Social feed */
.social-feed{
    width: 100%;
    height: 60vh;
    background-color: #efc00417;
    border: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Reach Out Section */
.reach-out{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reach-out-cont{
    display: flex;
    border: hidden;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-wrap: wrap;
}
.reach-out-img{
    width: 50%;
    background-image: url(./assets/reach-out-one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 500px;

}
.reach-out-text{
    max-width: 45%;
    padding: 10px;
}
@media only screen and (max-width: 800px)  {
    .vision-statement{
        flex-direction: column;
    }
    .vision-statement > .vs-text {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    .vision-statement > div > img {
        width: 100%;
    }
    .reach-out-cont{
        flex-direction: column;
    }
    .reach-out-img{
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    .reach-out-text{
        max-width: 100%;
    }
}

@media only screen and (max-width: 980px)  {
    header {
        background-image: url(./assets/crossimg.png);
        background-repeat: no-repeat;
        background-position: bottom 0% right 100%;
    }
}

