header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-color: #efbf04;
    background: linear-gradient(185deg, #00000025 0%,#000000 100%), url('./assets/img1.jpeg') no-repeat center/cover;
    height: 90vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}