header {
    display: flex;
    background-color: #efbf04;
    height: 90vh;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
}
.header-img-cont{
    width: 60%;
}
#header-heading{
    font-size: 3rem;
    margin: 0;
}