body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.glassy{
    /* box-shadow: inset 0 0 2000px rgba(255, 255,255, .5); */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.575);
}
.glassy-dark{
    /* box-shadow: inset 0 0 2000px rgba(255, 255,255, .5); */
    backdrop-filter: blur(10px);
    background-color: rgba(36, 36, 36, 0.618);
}
* {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400;
    font-style: normal; */
}
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: hidden;
    border-radius: 20px;
    background: rgba(101, 98, 98, 0.24);
    box-shadow: 0 4px 30px rgba(14, 13, 13, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    margin: 10px;
}
nav div, nav ul {
    padding: 10px;
    align-items: center;
}
nav div a {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
ul {
    list-style-type: none;
}
nav ul li {
    display: flex;
    justify-content: space-evenly;
    width: calc(max-content + 20px);

}
nav ul li a {
    padding-left: 2px;
}
a {
    text-decoration: none;
    color: inherit;
}
.header-container {
    padding: 10px;
    border-bottom: solid 2px #efbf04;
}

section {
    padding: 20px;
}

/* our link style */
.spec-link{
    border-bottom: #efbf04 solid 3px;
    display: flex;
    justify-content: center;
    width: max-content;
}
.spec-link::after{
    content: url(/assets/arrow-forward.svg);
}
.spec-link:hover{
    padding: 3px;
}

/* Footer */
footer{
    margin: 10px;
    border-top: #efbf04 solid 3px;
}
.social-tags{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links-cont{
    display: flex;
    align-items: center;
}
.link-cont{
    margin: 5px;
}
.main-footer-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.large-emp{
    font-size: 4.5rem;
}

/* animation line under text */
.anim-line{
    background-color: #efbf04;
    height: 10px;
    animation: widen 1s ease-in forwards;
}
@keyframes widen{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    nav ul li a{
        display: none;
    }
    nav div a h3 {
        display: none;
    }
}
