body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.glassy{
    /* box-shadow: inset 0 0 2000px rgba(255, 255,255, .5); */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.575);
}
.glassy-dark{
    /* box-shadow: inset 0 0 2000px rgba(255, 255,255, .5); */
    backdrop-filter: blur(10px);
    background-color: rgba(36, 36, 36, 0.618);
}
* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400;
    font-style: normal; */
}
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    background: transparent;
}
nav div, nav ul {
    border: hidden;
    border-radius: 20px;
    background: rgba(101, 98, 98, 0.24);
    box-shadow: 0 4px 30px rgba(14, 13, 13, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    padding: 10px;
    align-items: center;
}
nav div a {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul li {
    display: flex;
    justify-content: space-evenly;
    width: calc(max-content + 20px);

}
nav ul li a {
    padding-left: 2px;
}
a {
    text-decoration: none;
    color: inherit;
}
.header-container {
    padding: 10px;
    border-bottom: solid 2px #efbf04;
}
/*sections*/
.two-grid{}
@media only screen and (max-width: 600px) {
    nav ul li a{
        display: none;
    }
    nav div a h3 {
        display: none;
    }
}
